<!doctype html>
<html lang="en">

<head>
<style>
#button1{
width: 300px;
height: 40px;

}
#button2{
width: 300px;
height: 40px;
}
</style>

<meta charset="utf-8">

</head>
<body>
<!-- 
<a href="buyers.ejs" target="right">
 <button type="button buyers-button" id="button1">See all Buyers</button></a> -->

 <form>
    <a href="/buyers.ejs" target="right" class="btn btn-success">see all buyers </a>
    <a href="/sellers.ejs" target="right" class="btn btn-success">see all sellers </a>
       </form>
<!-- 

 <a href="sellers.ejs" target="right">
 <button type="button sellers-button" id="button2">See all sellers</button></a> -->
</body>
 </html>