<!DOCTYPE html>
<html>
    <head>
        <title>buyers List</title>
    </head>

    <body>
        <h1>Buyers List</h1>
        <% for(var i=0;i<buyers.length;i++){ %>
             <p style="font-size:2vw;color:red"><%=buyers[i].name%></p>
                     <p style="font-size: 1.5vw;color:grey;"><%=buyers[i].desc%></p> 
         <%}%>
       
            
                <!-- </form> -->
    </body>
</html>