
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="row">
    <div class="col-lg-6">
        <div class="container">
            <h2>product form</h2>
            <form>
                <div class="container">
                    <a href="/buyers" class="btn btn-success">see all buyers </a>
                     
                  </div> 
                  <div class="container">
                    <a href="/sellers" class="btn btn-success">see all sellers </a>
                     
                  </div> 
                   </form>
              <!-- <button type="submit" class="btn btn-primary">see all buyers</button> -->

          </div> 
          
                 
    </div>
    <div class="col-lg-6">
      <form>
        <h2>All Users</h2>
        <% for(var i=0;i<users.length;i++){ %>
           <p><%=users[i].name%></p>
           <p><%=users[i].desc%></p>
        <%}%>

         </div>
      </form>
        
    </div>

    
</div>

</body>
</html>


