<!DOCTYPE html>
<html>
<body>

<h2>List of Products</h2>
<ol>
  <a href="/info" class="btn btn-success"><li>computers</li> </a>
  <a href="/info"><li>Computers</li></a>
  <a href="/info"><li>Mobile</li></a>
<li>Home Appliances
    <ul>
     <a href="/info"> <li>Refrigirators</li></a>
     <a href="/info"> <li>ACs</li></a>
<a href="/info"><li>Micro Ovens</li></a>
    </ul>
  </li>
</ol>

</body>
</html>
