<!DOCTYPE html>
<html>
    <head>
        <title>buyers List</title>
    </head>

    <body>
        <h1>sellers List</h1>
        <% for(var i=0;i<sellers.length;i++){ %>
             <p style="font-size:2vw;color:red"><%=sellers[i].name%></p>
                     <p style="font-size: 1.5vw;color:grey;"><%=sellers[i].desc%></p> 
         <%  }%>
       
            
                <!-- </form> -->
    </body>
</html>